.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  padding: 94px 52px 94px;
}

.header__menu {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-self: start;
  column-gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__logo {
  display: block;
  justify-self: center;
  max-width: 136px;
  max-height: 105px;
}

.address {
  max-width: 237px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.address__links-list-item {
  list-style: none;
}

.address__link {
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  min-height: 757px;
  margin: 0;
  background: url("../images/cover.jpg") no-repeat center / cover;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 165px 50px 0px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  line-height: 115px;
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 78px;
  padding: 135px 50px 0px;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 50px;
}

.lots__heading {
  margin: 0px 0px 27px 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg") no-repeat center / cover;
}

.card_type_book {
  background: url("../images/card-lot-02.jpg") no-repeat center / cover;
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg") no-repeat center / cover;
}

.card__title {
  position: relative;
  z-index: 2;
  margin: 50px 40px 0px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  margin: 0px 40px 50px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0px 0px 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 430px auto;
  grid-template-rows: 240px auto;
  grid-template-areas:
    "logo title"
    ". text";
  align-items: center;
  column-gap: 25px;
  padding: 0px 50px 180px 50px;
}

.about__column-text {
  display: flex;
  flex-direction: column;
  grid-area: text;
  row-gap: 25px;
  padding: 8px 0px 0px 0px;
}

.about__column-logo {
  display: flex;
  grid-area: logo;
  justify-self: center;
  min-width: 240px;
  min-height: 240px;
  border-radius: 240px;
  background-color: #000;
}

.about__logo-image {
  max-width: 148px;
  margin: auto;
}

.about__title {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  grid-area: title;
  padding: 7px 0px 0px 0px;
}

.about__text {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: start;
  padding: 0px 50px 90px;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__menu {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  column-gap: 48px;
}

.footer__social-link {
  display: block;
  max-width: 48px;
  max-height: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}
